<div class="row">
    <div class="col-4 customClass" *ngFor="let item of dataSource.filteredData">
        <mat-card class="example-card">
            <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title> Star : {{item.stargazers_count}}</mat-card-title>
                <mat-card-subtitle>Name : {{item.name}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p> Desc : {{item.description}}</p>

                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>{{item.updated_at|date}}</button>
                <button mat-button>{{item.language}}</button>
            </mat-card-actions>
        </mat-card>

    </div>
</div>