<div class="row">
  <div class="col-10">
    <mat-form-field class="example-full-width">
      <mat-label>Search Language</mat-label>
      <input matInput (keyup)="onLanguageChange($event)" [value]="filter.language"/>
    </mat-form-field>
  </div>
  <div class="col-2" style="padding-top: 10px;text-align:end">
    
    <button *ngIf="isGridView"  (click)="switchArrow()" mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
      <mat-icon *ngIf="!isAsc">arrow_upward</mat-icon>
      <mat-icon *ngIf="isAsc">arrow_downward </mat-icon>
    </button>
    <button (click)="switch()" mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
      <mat-icon *ngIf="!isGridView">grid_view</mat-icon>
      <mat-icon *ngIf="isGridView" >menu</mat-icon>
    </button>
  </div>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="row">
  <div class="col-12">
    <app-grid-container *ngIf="isGridView &&customPageList" [customPageList]="customPageList" (onPageChange)="onPageChange($event)"
      (onSort)="onSort($event)"></app-grid-container>

  </div>
  <div class="col-12">

    <app-list-container *ngIf="!isGridView &&customPageList" [customPageList]="customPageList" (onPageChange)="onPageChange($event)"
      (onSort)="onSort($event)"></app-list-container>
  </div>
</div>
